.app-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.divs-container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
}


button {
    margin: 10px;
}